<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="jirApp.css" />
  </head>
  <body ng-app="jirApp">
    <h1>{{"Calculate!"}}</h1>
    
    <div ng-controller="JirController as jctrl">
 	    <p>°C: <input type="text" ng-model="jctrl.fcCalc.celsius" ng-change="jctrl.fcCalc.fCalc()"></p>
 	    <p>°F: <input type="text" ng-model="jctrl.fcCalc.fahrenheit" ng-change="jctrl.fcCalc.cCalc()"></p>
    </div>
    
    <div>
 	    <p>Name: <input type="text" ng-model="name"></p>
 	    <p ng-bind="name"></p>
    </div>
    
    <div>
 	    <p>My first expression: {{ 5 + 5 }}</p>
    </div>
    
    <h1>Länkar</h1>
    <a href="http://www.google.com">google</a><br/>
    <a href="http://www.gmail.com">gmail</a><br/>
    <a href="http://www.dn.se">dn</a><br/><br/>
    <a href="http://www.byggfabriken.com">byggfabriken</a><br/>
    <a href="http://www.duracoat.se">duracoat</a>
    
    <h1>Att göra</h1>
    Laga yttertrappen med duracoat<br/>
    Lägg yes på taket<br/>
    Beställ Auro färg<br/>
    
    
    <div ng-init="person={firstName:'John',lastName:'Doe'}">
      <p>The name is {{ person.lastName }}</p>
    </div>

    <input type="text"/>

  </body>
</html>

