<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="jirApp.css" />
  </head>
  <body ng-app="jirApp">
    <h1>{{"Hojt!"}}</h1>
    
    <div ng-controller="jirController as jctrl">
 	    <p>°C to °F: <input type="text" ng-model="jctrl.fcCalc.celsius"></p>
 	    <p>{{jctrl.fcCalc.fCalc()}}</p>
    </div>
    
    <div>
 	    <p>Name: <input type="text" ng-model="name"></p>
 	    <p ng-bind="name"></p>
    </div>
    
    <div>
 	    <p>My first expression: {{ 5 + 5 }}</p>
    </div>
    
    <div ng-init="person={firstName:'John',lastName:'Doe'}">
      <p>The name is {{ person.lastName }}</p>
    </div>

    <input type="text"/>

  </body>
</html>

