body {
 /* font-family: verdana;font-size:8pt; */
  /*
  background-image: url(https://cloud.githubusercontent.com/assets/12273355/7612278/fde8fdb6-f989-11e4-9b9f-abf533d51621.JPG);
  background-size: 80px 60px;
  background-repeat: repeat;
  */
  /*
  color: #333333;
  margin-top:12px; margin-left:16px; margin-right:0px; margin-bottom:12px;
  */
}

.my-container {
    /* position: relative; */
    background: #FFFFFF;
    /*
    overflow: hidden;*/
    width: 100%;
    height: 100%;
}
/* You could use :after - it doesn't really matter */
.my-container:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-image: url('https://cloud.githubusercontent.com/assets/12273355/7612278/fde8fdb6-f989-11e4-9b9f-abf533d51621.JPG');
    background-repeat: repeat;
    background-size: 320px 240px;
}

div * {
  z-index: 20;
}

.onTop {
  z-index: 20;
}
