body {
 /* font-family: verdana;font-size:8pt; */
  /*
  background-image: url(https://cloud.githubusercontent.com/assets/12273355/7612278/fde8fdb6-f989-11e4-9b9f-abf533d51621.JPG);
  background-size: 80px 60px;
  background-repeat: repeat;
  */
  /*
  color: #333333;
  margin-top:12px; margin-left:16px; margin-right:0px; margin-bottom:12px;
  */
}


@keyframes animatedBackground {
	/*
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
	*/
	from { opacity: 0; }
	to { opacity: 1; }
}

.my-container {
    /* position: relative; */
    background: #000000;
    /*
    overflow: hidden;*/
    width: 100%;
    height: 100%;
}
/* You could use :after - it doesn't really matter */
.my-container:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.3; */
    background-image: url('https://cloud.githubusercontent.com/assets/12273355/7612278/fde8fdb6-f989-11e4-9b9f-abf533d51621.JPG');
    background-repeat: repeat;
    background-size: 320px 240px;
    
    /* start animation
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;  */
    
    animation-name: animatedBackground;
    animation-duration: 60s;
    
}


